@model InternProject.ViewModels.PurchaseOrderManager.AddModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AddModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Buyer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Buyer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Currency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Currency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Season)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Season)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vendor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Origin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Origin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PortOfLoading)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PortOfLoading)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PortOfDelivery)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PortOfDelivery)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Factory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Factory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShipDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LatestShipDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LatestShipDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
